* {
    box-sizing: border-box;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    margin: 0;
    height: 100%;
}

html{
    font-size: 16px;

    @include tablets{
    font-size: 15px;       
    }
    @include phones{
    font-size: 14px;       
   }
}

.wrapper {
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

.section {
    height: 100vh;
    min-height: 600px;
    @include phones{
        min-height: 0;
    }
    // display: flex;
    // flex-direction: column;
    // &--non-centered {
    //     justify-content: flex-start;
    // }
}

.container {
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    }

.footer__container{
    flex-direction: row;
    align-items: center;

}

img{
    display: block;
    max-width: 100%;
}
    
@media (max-width: 768px){
    
    .container{
        max-width: 660px;
    }

    .footer__container{
        max-width: 660px;
    }
}

@media (max-width: 480px){
    
    .container{
        max-width: 410px;
    }

    .footer__container{
        max-width: 410px;
    }
}


// @media (max-width: 1000px){
//     .section{
//         height: 100vh;
//     }
// }
