.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(11px);
    max-width: 940px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.header__buttons{
    display: flex;
    align-items: center;
}

.nav__list {
    color: #fff;
    font-family: $ubuntu;
    font-size: 0.812rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: rem(15px);
    &:after {
        content: "";
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        display: block;
        margin-left: rem(15px);
    }
    &:last-child {
        &::after {
            display: none;
            margin-right: 0;
        }
    }
}

.order__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .nav{
        display: none;
    }

}

// @media (max-width: 480px){
//     .nav{
//         display: none;
//     }

// }

