.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(11px);
    max-width: 940px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.nav{
    display: flex;
    align-items: center;
}

.nav__list {
    color: #fff;
    font-family: $ubuntu;
    font-size: 0.812rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    margin-left: rem(50px);
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: rem(15px);
    &:after {
        content: "";
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        display: block;
        margin-left: rem(15px);
    }
    &:last-child {
        &::after {
            display: none;
            margin-right: 0;
        }
    }
}

.order__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons{
    display: flex;
    align-items: center;
}

.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: rem(22px);
	align-items: center;
	margin-left: rem(30px);
    display: none;
    // position: fixed;

	@include tablets {
        display: inline-flex;
        
	}
}
// .fixed-burger{
//     position: fixed;
// }
.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: rem(24px);
		height: rem(5px);
        border-radius: rem(3px);
        // position: fixed;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}

@media (max-width: 768px) {
    .nav{
        display: none;
    }

}

// @media (max-width: 480px){
//     .nav{
//         display: none;
//     }

// }

