.slider{
    background: linear-gradient(to top, #f9b43b, #eb8c38 48%, #f9b43b 74%);
}

.slider__content{
    // padding-top: rem(30px);
    // display: flex;
    // justify-content: center;
    height: 100%;
    justify-content: center;
    height: 100vh;
    min-height: 600px;
    position: relative;
}
.slider-buttons {
    position: absolute;
    top: 50%;
    
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
}

.slider-arrow-left {
    transform: rotate(90deg);
    left: -3rem;
    @include tablets{
      left: 0;
    }
    
 }
  
  .slider-arrow-right {
    transform: rotate(270deg); 
    right: -5rem;
    @include tablets{
      right: 0;
    }
    
}

.slider__card{
    display: flex;
    align-items: center;
    height: 100%;
    will-change: right;
    transition: right .3s;
}

.slider__burger{
    position: relative;
    display: flex;
    
}

.dish-composition__text {
    position: absolute;
    font-family: $gagalin;
    font-size: rem(14px);
    color: #fff;
    bottom: rem(13px);
    left: rem(23px);
}

.dish-composition {
    position: absolute;
    left: 0;
    top: rem(-60px);
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(5px);
    background-color: #f08c33;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
      background-color: $ginger;
      transition: .3s;
    }
}

.dish-composition:hover .popup {
  opacity: 1;
  transition: 0.3s;
}

.dish-composition__sprite {
    height: rem(44px);
    width: rem(46px);
    position: absolute;
    left: rem(22px);
    bottom: rem(32px);
}

.popup {
  position: absolute;
  background: rgba(232, 233, 235, 0.9);
  border-radius: rem(5px);
  left: rem(90px);
  top: 0;
  opacity: 0;
  transition: 0.3s;
  padding: rem(20px);
  min-width: 300%;
  display: flex; 
  // &.active{
  //      .popup__list{
  //        //   opacity: 1;
  // //    transition: 0.3s;

  //      }
  
  // }
}

a.popup{
  color: #000;
}

.popup__exit {
  height: rem(20px);
  margin-left: rem(30px);
  display: none; 
}

.popup__list {
  width: 100%; 
}

.popup__item {
  display: flex;
  align-items: center;
  position: relative;
  min-width: rem(155px); 
}

.popup__sprite {
  height: rem(50px);
  width: rem(50px); 
}

.popup__name {
  padding: rem(15px); 
  font-family: $ubuntu; 
  font-weight: 500;
  font-size: rem(14px)
}

.popup__count {
  position: absolute;
  right: 0;
  font-family: $ubuntu; 
  font-weight: 300;
}

.popup__exit {
  height: rem(20px);
  // margin-left: rem(30px);
  @include tablets{
    display: block; 
  }
  
  
}

.cross-pic{
  height: rem(20px);
  width: rem(20px);
}

.cros-pic--red{
  fill:#eb8364;
}

.slider__burger-pic-box {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}
.slider__burger-pic {
    width: 95%;   
    
}
.dish-calories{
position: absolute;
left: 0rem;
bottom: -3rem;
opacity: 0.6;
}

.dish-calories__sprite{
    height: rem(60px);
    width: rem(60px);
    fill: #ffffff; 
    @include tablets{
      height: 4.75rem;
      width: 4.75rem;
    }
}

.dish-calories__text {
    position: absolute;
    font-family: $gagalin;
    font-size: rem(14px);
    color: #fff;
}

.dish-calories__text--numbers{
    top: 47%;
    left: rem(14px);
    font-size: rem(20px);
    @include tablets{
      top: 40%;
      left: rem(15px);
    }
    @include phones{
      left: rem(18px);

    }
}

.dish-calories__text--letters{
    left: rem(14px);
    top: rem(62px);
    @include tablets{
      top: rem(65px);
      left: rem(16px);
    }
    @include phones{
      left: rem(18px);
      top: rem(68px);

    }
}

.slider__desc{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    .slider-title{
        color: #fff;
    }

    .title{
      margin-top: 0;
    }
.slider__desc-about{
    font-family: $ubuntu;
    font-weight: 300;
    font-size: rem(14px);
    margin-top: rem(20px);
    line-height: 1.8;
    color: #fff;
}

.slider-card__price{
    color: $ginger;
    font-family: $gagalin;
}

.slider-card__price--big {
    font-size: rem(72px);
}

.slider-card__price--small {
    font-size: rem(30px);
    margin-right: rem(29px);
}
.order__button-send-slider{
    font-family: $ubuntu;
    font-weight: 500;
    color: #fff;
}

@include tablets{
  .slider__card{
      flex-direction: column;
      max-width: 100%;
      height: 70%;
      padding: 0rem 0rem; 
  }

  .slider__burger{
      width: 100%;
      justify-content: center; 
      align-items: center;
      flex-direction: column;
  }

  // .slider__burger-pic-box{
  //   min-width: 70%;
  //   margin-bottom: -10%;
  // }
  .slider__desc{
      width: 80%;
      text-align: center;
      
  }

  .dish-calories {
    right: 0;
    top: -5.75rem;
    bottom: auto;
    left: auto; }

}

.dish-composition{
  top: -5.75rem;

}

.slider-title {
  line-height: 0.9; }


  @include phones{
    .slider-card {
      max-width: 100%;
     }

    .slider-title{
      font-size: rem(48px); 
      }
    .slider__desc-about {
      line-height: 1.5;
       margin-top: rem(12px);
       font-size: rem(12px); 
      }
      .slider-card__price--big {
        font-size: rem(50px);
    }
    .slider-card__price--small {
      font-size: rem(18px);
  }
  }

  