.burger__content {
    // min-width: rem(1100px);
    height: 100vh;
    min-height: 600px;
    // display: flex;
    // flex-direction: column;
    padding-bottom: rem(20px);

}

.burger {
    position: relative;
    background: url('./img/texture.jpg') no-repeat center center;
    background-size: cover;
    
}

.nextscreen-arrow{
    max-height: 20px;
    max-width: 30px;
}

.logo-pic{
    max-width: rem(80px);
    max-height: rem(80px);
    position: relative;
    z-index: 3;
    // margin-right: 69px;
}

.main__section-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .8;
}

.main__burger-image {
    margin-right: rem(22px);
}

//  .main__desc {
//      margin-left: 70px;
//  }
.title {
    font-family: $gagalin;
    color: $orange;
    font-size: 4.0625rem;
    font-weight: 400;
    text-transform: uppercase;
    //  margin-bottom: 30px;
    //  margin-top: 125px;
    margin-top: rem(55px);
    letter-spacing: rem(4px);
    // line-height: 1;
    &--centered {
        margin-bottom: rem(55px);
        margin-top: 0;
        text-align: center;
        @include phones{
            margin-bottom: 0;
        }
    }
    &-menu{
        color: #fff;
        position: absolute;
        margin: rem(111px) 0 0 rem(102px);
    }
}

.title-lowercase {
    font-family: $lifehack;
    color: #fff;
    font-size: 4.1rem;
    font-weight: 500;
    // line-height: 1;
}

@media (max-width: 768px){
    .main__section-columns{
        flex-direction: column;
        padding: 0 7%;
    }
    .main__desc{
        text-align: center;
        margin-top: rem(10px);
    }
    .title{
        margin-top: 0;
        
        
    }

}

@media (max-width: 480px){
    .main__section-columns{
        flex-direction: column;
    }
    .title{
        font-size: rem(49px);
    }
    .title-lowercase{
        font-size: rem(44px);
    }

}