.sidemenu {
    position: fixed;
    right: rem(50px);
    top: rem(93px);
    text-align: center;
}

.sidemenu__button {
    margin-bottom: rem(12px);
    list-style: none;
}

.sidemenu__button:last-child {
    margin: 0;
}

.sidemenu__link {
    background: url(./img/Ellipse_2.png) no-repeat;
    background-position: center center;
    padding: rem(5px);
    height: 8px;
    width: 8px;
    display: block;
    border: solid 1px transparent;
    border-radius: 50%;
    transition: .3s linear;
    position: relative;
}

.sidemenu__link:hover {
    border: solid 1px $ginger;
    border-radius: 50%;
}

.sidemenu__link--active {
    border: solid 1px $ginger;
    border-radius: 50%;
}

@media (max-width: 768px){
    .sidemenu{
        display: none;
    }

}

@media (max-width: 480px) {
    .sidemenu{
        display: none;
    }

}
